<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="userslist"></ion-back-button>
    </ion-button>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="pokemon">
    <ion-card>
      <img src="{{pokemon.sprites.other.dream_world.front_default}}" alt="">
      <ion-card-header>
        <ion-card-title>Nombre: {{pokemon.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let ability of pokemon.abilities">Habilidades:
            <ion-label>{{ability.ability.name}}</ion-label>

          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>